.footer {
    background-color: #444240;
    color: rgba(255, 255, 255, 0.75);
    padding: 67px 0 52px;
    font-size: 12px;
    line-height: 14px;
}

.footer__wrapper {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.footer__logo {
    margin-bottom: 23px;
}

.footer__phone,
.footer__email {
    display: block;
    margin-bottom: 15px;
}

.footer__nav-topics {
    display: flex;
    margin-left: auto;
    gap: 130px;
}

.footer__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.footer__nav-item {
    margin-bottom: 15px;
}

@media (max-width: 1300px) {
    .footer {
        padding: 60px 0 45px
    }
    
    .footer__wrapper {
        width: 850px;
    }

    .footer__nav-topics {
        gap: 95px;
    }
}

@media (max-width: 992px) {
    .footer {
        font-size: 11px;
        line-height: 13px;
        padding: 50px 0 35px;
    }
    
    .footer__wrapper {
        width: 600px;
    }

    .footer__logo {
        width: 104px;
        margin-bottom: 18px;
    }

    .footer__email, .footer__phone {
        margin-bottom: 12px;
    }

    .footer__nav-topics {
        gap: 25px;
    }

    .footer__heading {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 28px;
    }

    .footer__nav-item {
        margin-bottom: 12px;
    }
}

@media (max-width: 760px) {
    .footer__wrapper {
        width: 100%;
        flex-direction: column;
        padding: 0 35px;
    }

    .footer__contacts {
        margin-bottom: 20px;
    }

    .footer__nav-topics {
        margin-left: 0;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__heading {
        margin-bottom: 20px;
    }
}